amqp==5.1.1
asgiref==3.5.0
asttokens==2.0.5
async-timeout==4.0.2
backcall==0.2.0
billiard==3.6.4.0
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
Django==4.0.4
django-cors-headers==3.11.0
django-environ==0.8.1
django-filter==21.1
django-phonenumber-field==6.1.0
django-rest-swagger==2.2.0
django-storages==1.12.3
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
docutils==0.18.1
drf-yasg==1.20.0
executing==0.8.3
gunicorn @ git+https://github.com/benoitc/gunicorn.git@933b210f2eff943f4cd9502c676f3d93c82f171c
httpie==3.1.0
idna==3.3
importlib-metadata==4.11.3
inflection==0.5.1
ipython==8.3.0
itypes==1.2.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.0
kombu==5.2.4
Markdown==3.3.6
MarkupSafe==2.1.1
martor==1.6.3
matplotlib-inline==0.1.3
multidict==6.0.2
oauthlib==3.2.0
openapi-codec==1.3.2
packaging==21.3
parso==0.8.3
pexpect==4.8.0
phonenumbers==8.12.49
pickleshare==0.7.5
Pillow==9.1.0
prompt-toolkit==3.0.29
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.9.0
Pygments==2.11.2
PyJWT==2.3.0
pyparsing==3.0.8
PySocks==1.7.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
redis==4.2.2
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
simplejson==3.17.6
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
stack-data==0.2.0
traitlets==5.2.0
typing_extensions==4.2.0
tzdata==2021.5
uritemplate==4.1.1
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.0
zipp==3.8.0
